<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
{% block content %}
<body>
    <div style="background-color: #2fd0e9; font-size: 1.5vw; width: 100%; height: 100%">
        <h2 style="text-align: center">Registre seu email para não perder as noticias</h2>
    </div>

<div>
    <form method="post">
        <div>
            <div>
                <input type="email" name="email" placeholder="Email" autofocus="">
                <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
            </div>

        </div>
    </form>
</div>

</body>
{% endblock %}
</html>