<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Notice Page</title>
</head>
<body>
<div style="background-color:#2fd0e9; border:solid 2px ##2fd0e9; width:100vw; height:100%;">
    <div>
        <a href="/notices" style="color: #f3f4f5; font-size:2.1vw">noticias</a>
        <a href="/data" style="color: #f3f4f5; font-size:2.1vw">registro</a>
    </div>
</div>

<div>
<h1 style="text-align:center; font-size:2.8vw">Olá, bem-vindo(a) ao meu compilado de notícias!</h1>
<h2 style="text-align:center; font-size:2.8vw">Essa página tem como propósito apresentar algumas notícias resumidas, além da possibilidade de inscrição para recebê-las por email</h2>

</div>
<div>
    <p style="font-size:2.8vw; text-align: center; border: solid 5px white;">Por favor clique em "noticias" para vê-las ou "registrar" para inscrição de email</p>

</div>

<footer style="font-size:1vw; text-align: center;">Developed by Gabriel</footer>
</body>
</html>